build
output
.gradle
.idea
*.iml
*.ipr
*.iws
out

MDK.zip
/run
/gradle
*.bat
*.classpath
*.project
/.settings
/eclipse
gradlew
*.txt

*.blend1
*.blend2
/bin

/config
/logs
/saves
usercache.json
usernamecache.json